doctype html
html
  head
    title Poll
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/jquery.js')
    script(src='javascripts/script.js')
  body
    block content